@model List<HostModsViewModel>

@{
    ViewData["Title"] = "Mods";
    var usedMods = (HashSet<string>)ViewBag.UsedMods;
}

@section NavBar {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav> }

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

@foreach(var server in Model)
{
    var mods = ViewData["Sort"] as string == "ModSize" ? server.Mods.OrderByDescending(mbox => mbox.ModSize) : server.Mods.OrderBy(mbox => mbox.ModName);

    if(server.IsInstalling)
    {
        <p class="alert alert-warning">
            Installation / Mise à jours en cours. Aucune modification possible.
        </p>
    }
    else
    {
        <form method="post">
            <a class="btn btn-primary" asp-action="Add" asp-route-id="@server.Server.HostServerID">Ajouter des mods</a>
            <button class="btn btn-outline-primary" asp-action="UpdateNow" asp-route-id="@server.Server.HostServerID">Mise à jour manuelle</button>
            @if (server.Mods.Any(m => m.ModSize == 0))
            {
                <button class="btn btn-outline-danger" asp-action="RemoveEmptyMods" asp-route-id="@server.Server.HostServerID">Enlever les mods vides</button>
            }
            @if (mods.Select(m => m.ModSteamId).Distinct().Count() != server.Mods.Count)
            {
                <button class="btn btn-outline-danger" asp-action="RemoveDuplicates" asp-route-id="@server.Server.HostServerID">Enlever les doublons</button>
            }
        </form>

        if (server.LastInstall != null)
        {
            
            <form method="post" class="mt-5">
                @if (server.LastInstall.ExitStatus == 0)
                {
                    <div class="alert alert-success" role="alert">
                        <div class="row">
                            <div class="col-10">
                                La mise à jour des mods s'est terminée avec succès.
                            </div>
                            <button asp-action="ClearUpdateResult" asp-route-id="@server.Server.HostServerID" class="btn btn-sm btn-outline-success col-2">
                                Fermer
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <div class="row">
                            <div class="col-10">
                                La mise à jour des mods a échoué.
                            </div>
                            <button asp-action="ClearUpdateResult" asp-route-id="@server.Server.HostServerID" class="btn btn-sm btn-outline-danger col-2">
                                Fermer
                            </button>
                        </div>
                    </div>
                }
            </form>
            <pre>@server.LastInstall.Result</pre>
        }
    }

    <p>
        Total de @Math.Round(@server.Mods.Sum(m => m.ModSize) / 1024.0 / 1024.0, 2).ToString("#,0") Mo
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Identifiant
                </th>
                <th>
                    <a asp-action="Index">Nom</a>
                </th>
                <th class="text-right">
                    <a asp-action="Index" asp-route-sort="ModSize">Taille (Mo)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in mods)
            {
                <tr>
                    <td>
                        <a href="https://steamcommunity.com/workshop/filedetails/?id=@item.ModSteamId">@item.ModSteamId</a>
                    </td>
                    <td>
                        @item.ModName
                    </td>
                    <td class="text-right">
                        @if (item.ModSize == 0) {
                            <span class="text-danger">Vide</span>
                        } else {
                            @Math.Round(item.ModSize / 1024.0 / 1024.0, 2).ToString("#,0.00")
                        }
                    </td>
                    <td>
                        @if (!server.IsInstalling)
                        {
                            <form class="d-inline-block" method="post" asp-action="Update" asp-route-id="@server.Server.HostServerID" asp-route-modSteamId="@item.ModSteamId">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Mettre à jour</button>
                            </form>

                            @if (!usedMods.Contains(item.ModSteamId))
                            {
                                <form class="d-inline-block" method="post" asp-action="Remove" asp-route-id="@server.Server.HostServerID" asp-route-modSteamId="@item.ModSteamId">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Supprimer</button>
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}