@model List<HostModsViewModel>

@{
    ViewData["Title"] = "Mods";
}

@section NavBar {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav> }

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

@foreach(var server in Model)
{
    var mods = ViewData["Sort"] as string == "ModSize" ? server.Mods.OrderByDescending(mbox => mbox.ModSize) : server.Mods.OrderBy(mbox => mbox.ModName);

    if(server.IsInstalling)
    {
        <p class="alert alert-warning">
            Installation / Mise à jours en cours. Aucune modification possible.
        </p>
    }
    else
    {
        <form method="post">
            <a class="btn btn-primary" asp-action="Add" asp-route-id="@server.Server.HostServerID">Ajouter des mods</a>
            <button class="btn btn-outline-primary" asp-action="UpdateNow" asp-route-id="@server.Server.HostServerID">Mise à jour manuelle</button>
            @if (server.Mods.Any(m => m.ModSize == 0))
            {
                <button class="btn btn-outline-danger" asp-action="RemoveEmptyMods" asp-route-id="@server.Server.HostServerID">Enlever les mods vides</button>
            }
            @if (mods.Select(m => m.ModSteamId).Distinct().Count() != server.Mods.Count)
            {
                <button class="btn btn-outline-danger" asp-action="RemoveDuplicates" asp-route-id="@server.Server.HostServerID">Enlever les doublons</button>
            }
        </form>

        if (server.LastInstall != null)
        {
            <p>
                Dernière installation manuelle : @server.LastInstall.Finished.ToString("dd/MM/yyyy HH:mm:ss"), @(server.LastInstall.ExitStatus == 0 ? "OK" : $"Erreur {server.LastInstall.ExitStatus}")
            </p>
        }
    }

    <p>
        Total de @Math.Round(@server.Mods.Sum(m => m.ModSize) / 1024.0 / 1024.0, 2).ToString("#,0") Mo
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Identifiant
                </th>
                <th>
                    <a asp-action="Index">Nom</a>
                </th>
                <th class="text-right">
                    <a asp-action="Index" asp-route-sort="ModSize">Taille (Mo)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in mods)
            {
                <tr>
                    <td>
                        <a href="https://steamcommunity.com/workshop/filedetails/?id=@item.ModSteamId">@item.ModSteamId</a>
                    </td>
                    <td>
                        @item.ModName
                    </td>
                    <td class="text-right">
                        @if (item.ModSize == 0) {
                            <span class="text-danger">Vide</span>
                        } else {
                            @Math.Round(item.ModSize / 1024.0 / 1024.0, 2).ToString("#,0.00")
                        }
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}