@model GameServerManagerWebApp.Entites.GameServerConfiguration

@{
    ViewData["Title"] = @Model.Label;
}

@section NavBar {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="AdminGameServers" asp-action="Index">Serveurs</a></li>
            <li class="breadcrumb-item"><a asp-controller="AdminGameServers" asp-action="Details" asp-route-id="@Model.GameServerID">@Model.GameServer.Label</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<h2>Informations générales</h2>
<p>
    <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@Model.GameServerConfigurationID">Modifier</a>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Home" asp-action="Config" asp-route-id="@Model.GameServerConfigurationID" asp-route-t="@Model.AccessToken"><i class="fas fa-external-link-square-alt"></i> Page publique</a>
</p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
            @if (Model.IsActive)
            {
                <span class="badge badge-success">Actif</span>
            }
            else
            {
                <span class="badge badge-secondary">Non actif</span>
            }
        </dd>
        <dt class="col-sm-2">
            TeamSpeak
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoipServer)
            @if (!string.IsNullOrEmpty(Model.VoipChannel))
            {
                <span>Canal</span> @Html.DisplayFor(model => model.VoipChannel)
            }
            @if (!string.IsNullOrEmpty(Model.VoipPassword))
            {
                <span>Mot de passe</span> @Html.DisplayFor(model => model.VoipPassword)
            }
        </dd>
        <dt class="col-sm-2">
            Lien
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventHref)
        </dd>
    </dl>
</div>

<h2>Configuration rapide</h2>
<p>
    <a class="btn btn-sm btn-outline-primary" asp-action="EditConfig" asp-route-id="@Model.GameServerConfigurationID">Modifier</a>
</p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServerPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServerPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServerMission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServerMission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modset)
        </dt>
        <dd class="col-sm-10">
            @Model.Modset?.Name <span class="badge badge-primary">@Model.Modset?.Count</span>
        </dd>
    </dl>
</div>

<h2>Configuration avancée</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fichier de configuration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var config in Model.Files)
        {
            <tr>
                <td>
                    @config.Path
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="EditFile" asp-route-id="@config.GameConfigurationFileID">Modifier</a>
                </td>
            </tr>
        }
    </tbody>
</table>