@model Modset

@{
    ViewData["Title"] = Model.Label;
}

@section NavBar {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Modpacks</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav> }

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            Taille (Mo)
        </dt>
        <dd class="col-sm-10">
            @Math.Ceiling(@Model.Servers.Max(srv => srv.Mods.Sum(m => m.Size)) / 1024.0 / 1024.0)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.ModsetID">Modifier</a>
</div>

@foreach(var server in Model.Servers)
{
    <h2>@server.GameServer.Label</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Taille (Mo)</th>
            <th></th>
        </tr>
        @foreach(var mod in server.Mods.OrderByDescending(m => m.Message).ThenByDescending(m => m.Size))
        {
            <tr>
                <td>@mod.Id</td>
                <td><a href="@mod.Href">@mod.Name</a></td>
                <td class="text-right">@Math.Ceiling(mod.Size / 1024.0 / 1024.0)</td>
                <td>@mod.Message</td>
            </tr>
        }
    </table>
}
