@model IEnumerable<Modset>

@{
    ViewData["Title"] = "Modpacks";
}

@section NavBar {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav> }

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<p>
    <a class="btn btn-primary" asp-action="Create">Creér un modpack</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@item.ModsetID">Détails</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-controller="Home" asp-action="DownloadModset" asp-route-id="@item.ModsetID" asp-route-t="@item.AccessToken"><i class="fas fa-download"></i> Télécharger</a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.ModsetID">Modifier</a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.ModsetID">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
